<html lang="en"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

	<!-- Bootstrap CSS -->
	<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
	<meta content="ie=edge" http-equiv="x-ua-compatible">

	<title>Management Portal</title>

	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet">
	<link href="../css/fonts.css" rel="stylesheet">


	<style>
		body {
            border: 2px solid #ccc;
            background-color: #ffffff;
        }
	</style>

</head>

<body>

<title>Access Denied</title>

<h1>Not Authorised!</h1>


<a th:href="@{/}">Back to Home Page</a>
<br>
<br>
<br>
<footer><b>Xeodev 2021</b></footer>
<hr>
</body>

</html>
