<!DOCTYPE HTML>
<html lang="en"

      xmlns:th="http://www.thymeleaf.org">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

<!-- Bootstrap CSS -->
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
<meta content="ie=edge" http-equiv="x-ua-compatible">

<title style="color: cornflowerblue;font-style: italic ">Admin Directory</title>

<meta content="width=device-width, initial-scale=1" name="viewport">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet">
<link href="../css/fonts.css" rel="stylesheet">
<resources location="/resources/" mapping="/resources/**"/>
</head>
<body>


<div class="container">


  <div class="alert alert-primary" role="alert">
    <h3><b><i>SRRT MANAGEMENT APP</i></b></h3>
  </div>

  <div class="container">
    <br>
    <h1><b>Page Not Found!</b></h1>
    <h4>


      <br>
      The page you are looking for does not exist!<br>
      <br>
      Back to <a th:href="@{/home}">home page</a>
    </h4>
    <br>

    <hr>


  </div>
  <br>
  <br>
  <footer><b>Xeodev 2021</b></footer>
  <hr>
</div>
</body>
</html>
