<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.0/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.0/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>

    <style>
        body {
            border: 2px solid #ccc;
            background-color: #ffffff;
        }
    </style>

    <style>
        h3 {
            color: #002ede;
            font-family: Arial;
            text-align: left;
        }
    </style>

    <style>
        h4 {
            color: #000000;
            font-family: Arial;
            text-align: left;
        }
    </style>
</head>

<body>


<div class="container">
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SRRT </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbar-list">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" th:href ="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " th:href="@{/projects/list}">Projects</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " th:href="@{/employees/list}">Employees</a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/notes/list}">Notes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/tasks/list}">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " th:href="@{/workers/list}">Workers</a>
                    </li>

                </ul>
            </div>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <button class="btn btn-danger" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </div>

    </nav>
</div>

<div class="container">


    <div class="alert alert-dark" role="alert">
        <h4><b>Re-Silient Gateway</b></h4>

    </div>

    <p th:text="'Time on the server is ' + ${theDate}" class="funny" />

    <hr>


    <style>
        h3 {
            color: rgba(0, 12, 12, 0.96);
            font-family: Arial;
            text-align: left;
        }

        h1 {
            color: rgba(0, 12, 12, 0.96);
            font-family: Arial;
            text-align: left;
        }


        body {
            background-color: #ffffff;
        }
    </style>
    <br>
</div>


<div class="container mt-2">






    <div class="row">
        <div class="col-12">
            <div class="jumbotron" style="background-color: rgb(255,255,255)">
                <h3 class="text-center">SRRT: PROJECT TRACKING</h3>
                <br>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <p><a class="btn btn-success btn-lg" href="#" role="button">FREE TRIAL</a></p>
                    </div>
                    <div class="col-auto">
                        <p><a class="btn btn-primary btn-lg" href="#" role="button">BUY NOW</a></p>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <footer><b>Xeodev 2021</b></footer>

</div>


<hr>



    <br>
    <br>
    <hr>

</div>
</body>
</html>



